@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    src: url('/Resources/fonts/avenir.otf');
    src: url('/Resources/fonts/avenir.ttf') format('truetype'), 
    url('/Resources/fonts/avenir.ttc'),
}
