@media only screen and (min-width: 2200px){
    main {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 1024px) {
    main{
        margin-top: 75px;
    }
}
@media only screen and (max-width: 991.5px) {
}
@media only screen and (max-width: 767.5px) {
    .popup {
        padding: 15px 0;
        line-height: inherit;
        left: 15px;
        width: calc(100% - 30px);
        bottom: 15px;

        .cookies-img {
            display: none;
        }

        .btn-default {
                margin-top: 15px;
                line-height: inherit;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                width: 70%;
                text-align: center;
                display: block;
        }
    }
}
@media only screen and (max-width: 420px) {
    main {
        margin-top: 55px !important;
    }
}
@media only screen and (max-width: 320px) {
    main{
        margin-top: 40px !important;
    }
}