.head-home {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px);
    background: url(/Resources/img/vid_screenshot.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    overflow: hidden;

    .scrolldown {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        bottom: 65px;
        height: 45px;
        width: 45px;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;

        .fas {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $primary-color;
        }
    }

    video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay-inner {
        position: relative;
        z-index: 2;

        h2 {
            font-family: $font-title;
            font-size: 35px;
            margin: 0px 0px 20px;
        }

        .checkbox {
            a {
                color: #fff;
                text-decoration: underline !important;
            }
        }


        .inner-custom {
            padding: 10px 35px 35px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 20px;

            li {
                padding-left: 25px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 15px;
                    height: 7px;
                    background: #fff;
                    border-radius: 50%;
                    width: 7px;
                }
            }
        }
    }


    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.7);
        z-index: 1;
    }

    .checkbox {
        label {
            padding-left: 30px !important;

            &:before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.about {
    padding: 100px 0;
    position: relative;

    &.centered{
        text-align: center;
    }
    h2 {
        font-family: $font-title;
        font-size: 35px;
        margin: 0px 0px 20px;
    }
}

.about-grid {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    background: $primary-grey;

    .title {
        position: relative;
        margin: 20px 0px 30px;
        padding-left: 35px;

        h3 {
            font-family: $font-title;
            font-size: 22px;
            font-weight: bold;
        }

        i {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $primary-color;
            font-size: 18px;
        }
    }
}

.section-slide {
    padding: 100px 0;
    overflow: hidden;

    h4 {
        font-family: $font-title;
        font-size: 22px;
        font-weight: bold;
        display: block;
        margin: 20px 0 30px;
    }

    img {
        height: 675px;
    }
}

.extra {
    position: relative;
    background: #000;
    padding: 100px 0px;
    color: #fff;

    .title {
        font-family: "Bree Serif",serif;
        font-size: 45px;
        margin: 0 0 20px;
    }

    h4 {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 15px;
        letter-spacing: -2px;
        font-family: $font-title;
        color: $primary-color;
    }
}

.prices {
    padding: 100px 0;

    h2 {
        font-family: "Bree Serif",serif;
        font-size: 40px;
        margin: 0 0 50px;
        text-align: center;
        font-weight: bold;
    }

    .col-sm-4 {
        &:nth-of-type(2) {
            .packages {
                .highlight {
                    display: block;
                }
            }
        }
    }

    .packages {
        text-align: center;
        border: 2px solid $primary-color;
        padding: 15px;
        background: #eee;
        z-index: 1;
        position: relative;

        .highlight {
            display: none;
            background: $primary-color;
            height: 100px;
            width: 100px;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            line-height: 20px;
            right: -30px;
            top: -30px;
            transform: rotate(-10deg);
            font-size: 17px;
            -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.25);

            b {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        h2 {
            font-size: 35px;
            margin: 20px 0 10px;
            font-weight: bold;
            color: $primary-color;
        }

        h3 {
            font-weight: 400;
            font-size: 25px;
            margin-bottom: 15px;
        }
    }

    i {
        font-size: 13px;
        text-align: center;
        display: block;
        margin-top: 25px;

        a {
            color: $primary-color;
        }
    }

    table {
        width: 100%;
        margin-top: 50px;

        tbody {
            tr {
                background: #fff;
                transition: all 0.3s ease-in-out;

                &:nth-of-type(3) {
                    color: $primary-color;
                    font-weight: bold;
                }

                &:not(:first-of-type) {
                    &:hover {
                        background: #F8F8F8;
                    }
                }

                .btn-default {
                    width: 100%;
                    text-align: center;
                }

                &:first-of-type {
                    th {
                        &:nth-of-type(2) {
                            border-top-left-radius: 10px;
                        }

                        &:last-of-type {
                            border-top-right-radius: 10px;
                        }

                        &:not(:first-of-type) {
                            color: #fff;
                            background: $primary-color;
                            padding: 13px 10px;
                            text-align: center;
                            font-weight: normal;
                        }
                    }
                }

                td {
                    border: 1px solid #d9d9d9;
                    padding: 12px 25px;
                    position: relative;
                    font-size: 16px;

                    span {
                        text-align: center;
                        display: block;
                    }

                    &.V {
                        span {
                            color: transparent;

                            &:before {
                                position: absolute;
                                content: "\f058";
                                font-weight: 900;
                                font-family: 'Font Awesome 5 Free';
                                font-size: 20px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .head-home {
        .center {
            top: 50%;
            left: 50%;
            position: relative;
            transform: translate(-50%,-50%);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .head-home {
        height: inherit;
        padding: 20px 0 100px;

        .scrolldown {
            bottom: 35px;
        }

        .overlay-inner {
            .inner-custom {
                padding: 0px 0px;
            }
        }
    }

    .d-none-mobile{
        display: none;
    }
}
@media only screen and (max-width: 767.5px) {
    .head-home {
        .overlay-inner {

            h2 {
                font-size: 25px;
            }

            .inner-custom {
                padding: 10px 0px;
            }
        }
    }

    .prices {
        .packages {
            margin-bottom: 15px;
        }

        table {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    }

    .about {
        padding: 50px 0;

        img {
            max-width: 100px;
            margin-bottom: 30px;
        }
    }

    .about-grid, .section-slide, .extra {
        padding: 50px 0;
    }
}
