.usp {
    text-align: center;

    

    .customCol {
        width: 100%;
        min-width: 200px;
        max-width: 225px;
    }

    .item {
        background: #fff;
        width: 100%;



        img {
            max-width: 50px;
            display: block;
            margin: 10px auto;
        }

        b {
            font-size: 15px;
            font-weight: 600;
            color: $blue;
        }
    }

    h3 {
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        font-size: 25px;
    }
}
.usp {




    .giveMeSize {
        font-size: 25px;
        font-weight: 600;
    }

    .hr {
        margin-top: -20px !important;
    }
}
.information {
    background-color: #f7f7f7 !important;
    padding: 25px 0px 25px;

    .giveImageSize {
        max-width: 80%;
        margin: 0px 19%;
        
    }

    .container-fluid {
        padding: 0px 78px;
    }

    ._titleInfo {
        font-size: 40px;
        margin-bottom: 10px;
    }

    ._titleContactInfo {
        font-weight: 300;
        margin-bottom: 25px;

        a {
            color: $blue;
            font-weight: 600;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    .innerText {
        b {
            font-size: 16px;
            font-weight: 600;
        }

        p {
            font-size: 16px;

            b {
                font-size: 16px;
                font-weight: 600;
            }

            a {
                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .txtsmall {
        font-size: 16px;
        font-weight: bold;

        .emailblue {
            color: #000099;
        }
    }

    .extra {
        p {
            font-size: 13px;
        }
    }

    .smallfont {
        font-size: 13px;
    }
}

.img-wrapper {
    text-align: center;
    padding: 20px;

    img {
        max-width: 170px;
        height: auto;
        display: inline-block;
        margin: 0 15px;
    }
}
footer{
    font-weight:bold;
}



@media only screen and (max-width: 767.5px) {
    .tweedechild {
        .col-12 {
            text-align: center;
            font-size: 10px;
        }

        p {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            padding: 15px;
        }
    }
}
@media only screen and (max-width: 731.5px){
    ._bannerTexts{
        text-align:center;
                }
}
@media only screen and (max-width: 731.5px){
    
    .giveImageSize {
        max-width: 80%;
        margin: 0 8% !important;
    }
    .img-wrapper img {
        max-width: 170px;
        height: auto;
        display: inline-block;
        margin: 10px 29px !important;
    }
}
