/* ==========================================================================
   CSS COMMENTS
   ========================================================================== */
@charset "UTF-8";
@import '_variables.scss';
@import '_animations.scss';

@import 'default.scss';
@import 'checkbox.scss';

/*------------------------------------*\
    #Reset and default
\*------------------------------------*/

html,
body {
    overflow-x: hidden;
}

main {
    margin-top: 77px;
}

body {
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.9;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul {
    padding: 0px;
    margin-bottom: 0px;

    li {
        list-style: none;
        position: relative;
    }
}

textarea {
    resize: vertical;
}

a,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none !important;
    outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.responsive-image img {
    width: 100%;
}


.form-group {
    position: relative;

    .form-control-feedback {
        display: none !important;
        visibility: hidden;
    }

    &.has-error {
        .form-control {
            border: 1px solid $primary-color;
        }

        .help-block {
            color: $primary-color;
            padding-left: 20px;
            margin-top: 7px;
            display: block;
            background: $primary-grey;
            padding: 10px 20px;
        }
    }

    select {
        background-image: url(/Resources/img/down-chevron.png);
        background-position: 95%;
        background-repeat: no-repeat;
        background-size: 13px;
        height: inherit !important;
    }

    textarea {
        height: auto;
        min-height: 70px;
    }

    .form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none !important;
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0px;
        width: 100%;
        border: none;
        font-size: 14px;

        &:focus {
            border: 1px solid $primary-color;
        }

        &:disabled {
            background-color: #F2F2F2;
            cursor: not-allowed;
        }
    }
}

.form-control::-webkit-input-placeholder {
    color: #B1B1B1;
    font-size: 14px;
}

.form-control::-moz-placeholder {
    color: #B1B1B1;
    font-size: 14px;
}

.form-control:-ms-input-placeholder {
    color: #B1B1B1;
    font-size: 14px;
}

.form-control:-moz-placeholder {
    color: #B1B1B1;
    font-size: 14px;
}


@import '_responsive.scss';