
.widget-breadcrumps {
    position: absolute;
    z-index: 9999;
    padding: 30px 0;
    height: 80px;
    color: #fff;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.widget-breadcrumps.scroll{
    position: fixed;
}

.widget-breadcrumps li{
    display: inline-block;
}

.widget-breadcrumps li a{
    font-size: 14px;
    text-transform: uppercase;
}

.widget-breadcrumps li:nth-child(n+2) a:before {
    display: inline-block;
    content:">";
    margin: 0 15px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

    .widget-breadcrumps .container {
        padding-left: 215px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991.5px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.5px) {

    .widget-breadcrumps .container {
        padding-left: 0;
    }

    .widget-breadcrumps {
        left: 150px;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        top: -7.5px;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .widget-breadcrumps{
        display: none;
    }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}