footer {
    padding: 17px 59px;
    font-size: 12px;
    border-top: 1px solid #f2f2f2;




    .copy-txt {
        font-weight: 500;
    }

    .footermenu {
        text-align: center;

        li {
            display: inline-block;
            font-weight: 500;

            a {
                margin: 0px 8px;
            }
        }
    }

    .footerright {
        text-align: right;

        li {
            display: inline-block;
            font-weight: 500;

            a {
                margin: 0px 8px;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    footer {
        padding: 17px 15px;
    }
}
@media only screen and (max-width: 991px){
    footer {
        footer .footermenu {
            text-align: left;
        }

        .footerright {
            text-align: left;
        }
    }
}
@media only screen and (max-width: 767.5px) {
    footer {
        font-size: 14px;
        padding: 0px;
    }
}
@media only screen and (max-width: 420px){
    footer {
        padding: 20px 0 20px;

        .footermenu {
            text-align: left;
        }

        .footerright{
            text-align: left;
            padding: 10px 15px;
        }
    }
}
/*@media only screen and (max-width: 375px){
    footer {
        p {
            text-align: center !important;
            margin: 10px;
        }

        ul {
            text-align: center;
            margin: 10px;
        }
    }
}*/