/* ==========================================================================
   CSS COMMENTS
   ========================================================================== */
.checkbox, .radio {
  margin-top: 0px; }

.checkbox {
  padding: 0px !important; }
  .checkbox td:first-of-type {
    margin-right: 15px;
    display: inline-block; }
  .checkbox input {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .checkbox input[type=checkbox]:checked + label::before {
      background: #e61f68 !important; }
  .checkbox label {
    position: relative;
    padding-left: 25px !important;
    margin: 0px !important;
    cursor: pointer; }
    .checkbox label a {
      color: #e61f68; }
    .checkbox label:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      left: 0;
      top: 7px;
      border: 1px solid #d0d0d0;
      background-color: #fff; }

.radio {
  padding: 0px !important; }
  .radio td:first-of-type {
    margin-right: 15px;
    display: inline-block; }
  .radio input {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .radio input[type=radio]:checked + label::before {
      background: #e61f68 !important; }
  .radio label {
    position: relative;
    padding-left: 25px !important;
    margin: 0px !important;
    cursor: pointer; }
    .radio label:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      left: 0;
      top: 7px;
      border: 1px solid #d0d0d0;
      background-color: #fff; }

/*------------------------------------*    #Reset and default
\*------------------------------------*/
html,
body {
  overflow-x: hidden; }

main {
  margin-top: 77px; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.9;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none; }

ul {
  padding: 0px;
  margin-bottom: 0px; }
  ul li {
    list-style: none;
    position: relative; }

textarea {
  resize: vertical; }

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none !important; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.responsive-image img {
  width: 100%; }

.form-group {
  position: relative; }
  .form-group .form-control-feedback {
    display: none !important;
    visibility: hidden; }
  .form-group.has-error .form-control {
    border: 1px solid #e61f68; }
  .form-group.has-error .help-block {
    color: #e61f68;
    padding-left: 20px;
    margin-top: 7px;
    display: block;
    background: #eee;
    padding: 10px 20px; }
  .form-group select {
    background-image: url(/Resources/img/down-chevron.png);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 13px;
    height: inherit !important; }
  .form-group textarea {
    height: auto;
    min-height: 70px; }
  .form-group .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    width: 100%;
    border: none;
    font-size: 14px; }
    .form-group .form-control:focus {
      border: 1px solid #e61f68; }
    .form-group .form-control:disabled {
      background-color: #F2F2F2;
      cursor: not-allowed; }

.form-control::-webkit-input-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control::-moz-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control:-moz-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 66px; } }

@media only screen and (max-width: 991.5px) {
  .banner.normal {
    padding: 45px 0; }
  .errors .content {
    width: calc(100% - 30px); }
  .banner {
    padding: 100px 0;
    font-size: 18px; }
    .banner h1 {
      font-size: 30px;
      margin-bottom: 20px; }
  .btn-default {
    font-size: 14px;
    min-height: 48px; }
  .order-confirmation .bevestiging .inner {
    margin-bottom: 30px;
    height: inherit; } }

@media only screen and (max-width: 767.5px) {
  .form-group {
    margin-bottom: 15px; } }
