/* ==========================================================================
   CSS COMMENTS
   ========================================================================== */
.usp {
  text-align: center; }
  .usp .customCol {
    width: 100%;
    min-width: 200px;
    max-width: 225px; }
  .usp .item {
    background: #fff;
    width: 100%; }
    .usp .item img {
      max-width: 70px;
      display: block;
      margin: 10px auto; }
    .usp .item b {
      font-size: 16px;
      font-weight: 900;
      color: #003576; }
  .usp h3 {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px; }

.widget-messenger {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 30px;
  z-index: 1;
  transform: scale3d(0, 0, 0);
  transition: transform .3s ease-in-out;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .widget-messenger .chatboxcon {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: calc(100vw - 40px);
    max-width: 400px;
    min-height: 280px;
    padding: 20px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity .4s ease-out,transform 0s linear .3s; }
    .widget-messenger .chatboxcon .closebtncon {
      display: block;
      position: static;
      width: 100%;
      height: 55px;
      padding: 0 26px; }
      .widget-messenger .chatboxcon .closebtncon img {
        width: 118px; }
      .widget-messenger .chatboxcon .closebtncon .closebtninnercon {
        /*display: flex;*/
        position: absolute;
        top: 18px;
        right: 24px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        text-align: center;
        opacity: .4;
        cursor: pointer;
        transition: opacity .3s ease-out;
        -webkit-tap-highlight-color: transparent; }
        .widget-messenger .chatboxcon .closebtncon .closebtninnercon .closebtn {
          font-size: 24px; }
          .widget-messenger .chatboxcon .closebtncon .closebtninnercon .closebtn:hover {
            opacity: 0.7;
            cursor: pointer; }
    .widget-messenger .chatboxcon .textbox {
      background-color: #e2e2e2;
      padding: 20px 22px;
      border-radius: 0px 32px 32px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      margin: 15px 26px 23px; }
      .widget-messenger .chatboxcon .textbox b {
        font-weight: bold; }
    .widget-messenger .chatboxcon .btnberichtversturen {
      text-align: center;
      background: #0084ff;
      color: #fff;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      transition: 2s linear; }
      .widget-messenger .chatboxcon .btnberichtversturen:hover {
        opacity: 0.7; }
      .widget-messenger .chatboxcon .btnberichtversturen i {
        margin-right: 5px; }
  .widget-messenger .active {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: opacity .2s ease-out,transform 0s linear; }
  .widget-messenger .messengerbtncon {
    display: inline-block;
    float: right;
    transition: background-color .2s linear;
    -webkit-tap-highlight-color: transparent; }
    .widget-messenger .messengerbtncon .fab {
      padding: 8px;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%; }
      .widget-messenger .messengerbtncon .fab:hover {
        opacity: 0.7;
        cursor: pointer; }
    .widget-messenger .messengerbtncon .fa-facebook-messenger {
      background: #0084FF;
      color: white; }

.show {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); }

.usp .giveMeSize {
  font-size: 25px;
  font-weight: 600; }

.usp .hr {
  margin-top: -20px !important; }

.information {
  background-color: #f7f7f7 !important;
  padding: 25px 0px 25px; }
  .information .giveImageSize {
    max-width: 80%;
    margin: 0px 19%; }
  .information .container-fluid {
    padding: 0px 78px; }
  .information ._titleInfo {
    font-size: 40px;
    margin-bottom: 10px; }
  .information ._titleContactInfo {
    font-weight: 300;
    margin-bottom: 25px; }
    .information ._titleContactInfo a {
      color: #003576;
      font-weight: 600; }
      .information ._titleContactInfo a:hover {
        text-decoration: underline !important; }
  .information .innerText {
    font-weight: 500;
    line-height: 1.8; }
    .information .innerText b {
      font-size: 16px;
      font-weight: 900; }
    .information .innerText p {
      font-size: 16px; }
      .information .innerText p b {
        font-size: 16px;
        font-weight: 900; }
        .information .innerText p b:first-of-type {
          font-size: 20px; }
      .information .innerText p a:hover {
        color: #003576; }
  .information .txtsmall {
    font-size: 16px;
    font-weight: bold; }
    .information .txtsmall .emailblue {
      color: #000099; }
  .information .extra p {
    font-size: 13px; }
  .information .smallfont {
    font-size: 13px; }

.img-wrapper {
  text-align: center;
  padding: 20px; }
  .img-wrapper img {
    max-width: 170px;
    height: auto;
    display: inline-block;
    margin: 0 15px; }

footer {
  font-weight: bold; }

@media only screen and (max-width: 991.5px) {
  .usp .col-6:last-of-type {
    margin: auto; } }

@media only screen and (max-width: 767.5px) {
  .tweedechild .col-12 {
    text-align: center;
    font-size: 10px; }
  .tweedechild p {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 15px; } }

@media only screen and (max-width: 731.5px) {
  ._bannerTexts {
    text-align: center; } }

@media only screen and (max-width: 731.5px) {
  .giveImageSize {
    max-width: 80%;
    margin: 25px 8% 0 !important; }
  .img-wrapper img {
    max-width: 170px;
    height: auto;
    display: inline-block; }
  ._giveMePadding .innerText {
    margin-bottom: 25px; }
  .usp .item {
    margin-bottom: 10px; }
  main {
    margin-top: 80px !important; } }

.checkbox, .radio {
  margin-top: 0px; }

.checkbox {
  padding: 0px !important; }
  .checkbox td:first-of-type {
    margin-right: 15px;
    display: inline-block; }
  .checkbox input {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .checkbox input[type=checkbox]:checked + label::before {
      background: #003576 !important; }
  .checkbox label {
    position: relative;
    padding-left: 25px !important;
    margin: 0px !important;
    cursor: pointer; }
    .checkbox label a {
      color: #003576; }
    .checkbox label:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      left: 0;
      top: 7px;
      border: 1px solid #d0d0d0;
      background-color: #fff; }

.radio {
  padding: 0px !important; }
  .radio td:first-of-type {
    margin-right: 15px;
    display: inline-block; }
  .radio input {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .radio input[type=radio]:checked + label::before {
      background: #003576 !important; }
  .radio label {
    position: relative;
    padding-left: 25px !important;
    margin: 0px !important;
    cursor: pointer; }
    .radio label:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      left: 0;
      top: 7px;
      border: 1px solid #d0d0d0;
      background-color: #fff; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background: #fff; }
  header img {
    max-width: 30%;
    height: auto;
    margin: 10px; }
  header .nav-items {
    position: relative;
    float: right;
    padding: 10px; }
    header .nav-items ul {
      margin-top: 40px; }
      header .nav-items ul li {
        display: inline-block; }
        header .nav-items ul li a {
          padding: 20px;
          font-weight: 900;
          font-size: 17px; }
          header .nav-items ul li a.active {
            color: #003576; }

.hamburger {
  display: none;
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 12;
  border-radius: 11px;
  width: 58px;
  height: 60px; }
  .hamburger .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); }
  .hamburger #nav-icon2 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    .hamburger #nav-icon2 span {
      display: block;
      position: absolute;
      height: 9px;
      width: 50%;
      background: #003576;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .hamburger #nav-icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0; }
      .hamburger #nav-icon2 span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px; }
      .hamburger #nav-icon2 span:nth-child(1), .hamburger #nav-icon2 span:nth-child(2) {
        top: 0px; }
      .hamburger #nav-icon2 span:nth-child(3), .hamburger #nav-icon2 span:nth-child(4) {
        top: 18px; }
      .hamburger #nav-icon2 span:nth-child(5), .hamburger #nav-icon2 span:nth-child(6) {
        top: 36px; }
    .hamburger #nav-icon2.open span:nth-child(1) {
      left: 5px;
      top: 7px; }
    .hamburger #nav-icon2.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 7px; }
    .hamburger #nav-icon2.open span:nth-child(3) {
      left: -50%;
      opacity: 0; }
    .hamburger #nav-icon2.open span:nth-child(4) {
      left: 100%;
      opacity: 0; }
    .hamburger #nav-icon2.open span:nth-child(5) {
      left: 5px;
      top: 29px; }
    .hamburger #nav-icon2.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 29px; }
    .hamburger #nav-icon2.open span:nth-child(1), .hamburger #nav-icon2.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .hamburger #nav-icon2.open span:nth-child(2), .hamburger #nav-icon2.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block; }
  header.open .nav-items {
    right: 0px; }
  header .nav-items {
    float: inherit;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #f2f2f2;
    width: 275px;
    right: -275px;
    z-index: 1;
    transition: all .3s ease-in-out; }
    header .nav-items ul {
      padding: 100px 0 0px; }
      header .nav-items ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        display: block;
        font-size: 40px; }
        header .nav-items ul li a {
          padding: 15px 20px;
          color: black; }
          header .nav-items ul li a.active {
            font-weight: bold;
            color: #003576; }
          header .nav-items ul li a:after {
            display: none; } }

@media only screen and (max-width: 375.5px) {
  header img {
    max-width: 225px !important;
    margin-top: 20px; } }

@media only screen and (max-width: 768px) {
  header a {
    padding: 18px !important;
    font-weight: 900;
    font-size: 17px !important; }
  header img {
    max-width: 30%;
    height: auto;
    margin: 0px;
    margin-top: 4%; }
  header ul {
    margin-top: 25px !important; } }

.form-group textarea {
  min-height: 150px !important; }

.contactpage .container-fluid {
  padding: 0px 78px; }

.contactpage .giveMeMargin {
  margin: 0px auto 25px;
  font-weight: 600; }

.contactpage .form-group {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
  .contactpage .form-group span {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 35px;
    height: 100%;
    background: #003576;
    text-align: center;
    border-radius: 2px; }
    .contactpage .form-group span i {
      position: relative;
      font-size: 12px;
      color: #fff;
      vertical-align: -webkit-baseline-middle; }

.contactpage label {
  font-weight: bold;
  margin: 0px auto 25px; }

.contactpage .btn-submit input {
  background: linear-gradient(to right, #003576 0%, #324A9A 100%);
  color: #f7f7f7;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  width: 45%;
  padding: 15px 0px;
  cursor: pointer;
  font-weight: 700; }

.contactpage .checkbox {
  margin: 0px auto 10px; }

.informationcontact .giveImageSize {
  max-width: 75%;
  margin: 30px 19%; }

.informationcontact.information {
  background: #fff !important; }

.informationcontact ._giveMePadding {
  padding: 0px 78px; }

.contactcolor {
  color: white; }

@media only screen and (max-width: 768px) {
  .giveImageSize {
    display: none; }
  .information .col-sm-6 .innerText {
    margin-bottom: 25px; } }

.info {
  min-height: 55vh;
  height: 100%; }
  .info ._infoTile h3 {
    font-weight: bold;
    text-align: center; }
  .info ._infoTile h2 {
    text-align: center;
    font-weight: 600;
    padding: 10px 0px 0px; }
  .info ._infoDescription {
    width: 56%;
    margin: auto; }
    .info ._infoDescription p {
      font-weight: normal;
      font-size: 15px;
      text-align: center;
      padding: 30px !important; }

@media only screen and (max-width: 768px) {
  .info ._infoDescription {
    width: 100%; }
  .info .mb-4 {
    margin: 0px !important; } }

.banner {
  z-index: -1; }

.options {
  /*.container {
        max-width: 93%;
    }*/ }
  .options img {
    max-width: 25%; }
  .options ._giveMePadding {
    padding: 10px 50px 10px; }
  .options ._optionsTile {
    margin-bottom: 20px; }
    .options ._optionsTile h3 {
      font-weight: 900; }
  .options ._optionsDes p {
    font-weight: normal;
    font-size: 15px; }
    .options ._optionsDes p:nth-child(2) {
      margin-top: 40px; }
  .options ._optionsDes a {
    color: #003576;
    font-weight: 600; }
  .options ._optionsImg {
    margin-top: 20px; }
    .options ._optionsImg img {
      width: 100%;
      height: auto;
      display: block; }

.tweedechild {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  padding: 20px;
  overflow: hidden; }
  .tweedechild ._boxTitle {
    margin-bottom: 20px; }
    .tweedechild ._boxTitle b {
      color: #003576;
      font-weight: 900;
      font-size: 23px !important; }
  .tweedechild ._boxTexts ul {
    columns: 2;
    width: 100%;
    font-size: 17px; }
    .tweedechild ._boxTexts ul li {
      position: relative;
      padding-left: 15px;
      /*&:nth-child(n+6) {
                    width: 115%;
                    margin-left: -15%;
                }*/ }
      .tweedechild ._boxTexts ul li::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        content: "";
        background: #E4022E;
        margin-right: 10px;
        display: inline-block;
        height: 5px;
        border-radius: 50%; }
      .tweedechild ._boxTexts ul li:nth-child(-n+6) {
        width: 85%; }
      .tweedechild ._boxTexts ul li:last-child::before {
        display: none; }
  .tweedechild p {
    font-weight: normal;
    font-size: 16px; }

.touch {
  background-color: #f7f7f7;
  padding: 40px 0; }

@media only screen and (max-width: 767.5px) {
  .tweedechild .col-12 {
    text-align: center;
    font-size: 10px; }
  .tweedechild ._boxTitle {
    padding-left: 15px; }
  .tweedechild p {
    font-size: 16px;
    text-align: left;
    padding: 15px; } }

@media only screen and (max-width: 767.5px) {
  .container-fluid .smallimage {
    max-width: 40%; } }

@media only screen and (max-width: 767.5px) {
  .banner img {
    height: 100%; } }

@media only screen and (max-width: 375.5px) {
  .contactpage .container-fluid {
    padding: 0px 10px; } }

@media only screen and (max-width: 375.5px) {
  .information .container-fluid {
    padding: 0 10px; } }

@media only screen and (max-width: 375.5px) {
  .options ._giveMePadding {
    padding: 0px 0px 0px; } }

@media only screen and (max-width: 768px) {
  .options img {
    max-width: 50% !important; }
  .tweedechild ._boxTexts ul {
    columns: 1; }
  .options ._optionsDes img {
    margin-bottom: 20px; } }

.banner ._bannerTexts.white {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  z-index: 2;
  position: relative;
  text-align: center; }

._pageTitlePro ._pageTitleProText h2 {
  font-size: 30px;
  color: #003576;
  font-weight: 900;
  padding: 0px 0px 9px; }

._pageTitlePro ._pageTitleProText p {
  font-weight: normal;
  font-size: 17px; }

._ProItemsContainer ._title {
  color: #003576;
  font-weight: bold;
  margin: 8px; }

._ProItemsContainer .read-more {
  color: #E4022E;
  font-weight: bold;
  display: block;
  margin: 10px; }
  ._ProItemsContainer .read-more i {
    margin-left: 10px; }

._ProItemsContainer ._giveMePadding {
  padding: 0px 70px; }
  ._ProItemsContainer ._giveMePadding ._productItem {
    width: 100%;
    max-width: 20%;
    min-width: 20%; }
    ._ProItemsContainer ._giveMePadding ._productItem .item {
      width: 100%; }

._giveMePadding .col-lg:nth-of-type(3) a, ._giveMePadding .col-lg:nth-of-type(4) a, ._giveMePadding .col-lg:last-of-type a {
  display: none; }

.producttext {
  font-size: 26px;
  color: white; }

.producth1 {
  color: white;
  font-weight: bold; }

.banner .productimg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 180%;
  object-fit: cover;
  filter: brightness(0.5); }

.item {
  display: block;
  text-align: center; }
  .item img {
    max-width: 60px;
    display: block;
    margin: 0px auto 15px; }

.products {
  padding-bottom: 170px; }
  .products ul {
    max-height: 162px;
    overflow: hidden;
    position: relative;
    display: block;
    transition: 0.3s all ease-in-out; }
    .products ul.open {
      max-height: 999px; }

@media only screen and (max-width: 991.5px) {
  .products .col-6:last-of-type {
    margin: auto; } }

@media only screen and (max-width: 768px) {
  ._giveMePadding {
    padding: 0px 0px !important; }
  .item {
    margin-bottom: 30px; } }

@media only screen and (max-width: 768px) {
  ._ProItemsContainer .read-more {
    display: block;
    font-weight: bold;
    margin: 12px; }
  ._ProItemsContainer ._title {
    font-size: 15px; } }

.usp h3 {
  font-size: 33px; }

.usp .ceritifcatesimage {
  max-width: 45%;
  margin: 20px auto; }

.ceritifcatesimageul {
  display: flex;
  margin: 0px 25%; }

.gviemewidth {
  min-height: 60vh; }

.banner .bright {
  opacity: unset;
  height: 100%; }

.banner .producth1 {
  font-size: 33px; }

@media only screen and (max-width: 768px) {
  .usp .ceritifcatesimageul {
    margin: 0 1%; }
  .ceritifcatesimageul img {
    max-width: 90% !important;
    margin: 20px auto; } }

/*------------------------------------*    #Reset and default
\*------------------------------------*/
html,
body {
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none; }

ul {
  padding: 0px;
  margin-bottom: 0px; }
  ul li {
    list-style: none;
    position: relative; }

textarea {
  resize: vertical; }

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none !important; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.responsive-image img {
  width: 100%; }

main {
  margin-top: 100px; }

.form-group {
  position: relative; }
  .form-group .form-control-feedback {
    display: none !important;
    visibility: hidden; }
  .form-group.has-error .form-control {
    border: 1px solid #003576; }
  .form-group.has-error .help-block {
    color: #003576;
    padding-left: 20px;
    margin-top: 7px;
    display: block;
    background: #eee;
    padding: 10px 20px; }
  .form-group select {
    background-image: url(/Resources/img/down-chevron.png);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 13px;
    height: inherit !important; }
  .form-group textarea {
    height: auto;
    min-height: 70px; }
  .form-group .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    width: 100%;
    border: none;
    font-size: 14px; }
    .form-group .form-control:focus {
      border: 1px solid #003576; }
    .form-group .form-control:disabled {
      background-color: #F2F2F2;
      cursor: not-allowed; }

.form-control::-webkit-input-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control::-moz-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.form-control:-moz-placeholder {
  color: #B1B1B1;
  font-size: 14px; }

.middel .col-2 {
  width: 20%; }

.middel .col-2 img {
  display: block; }

.banner {
  position: relative;
  padding: 100px 0px 60px;
  overflow: hidden;
  position: relative;
  /*.col-12 {
        p {
            max-width: 40%;
            margin: auto;
        }
    }

    .col-6 {
        text-align: center;
        margin: 3px auto;
        font-size: 15px;
    }*/ }
  .banner._shadow {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2); }
  .banner._spacing {
    padding: 100px 0px 106px; }
  .banner._Nospacing {
    padding: 60px 0px 90px; }
  .banner.white-overlay h1 {
    color: white; }
  .banner.white-overlay:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .47;
    top: 0px;
    left: 0px;
    z-index: 1; }
  .banner.black-overlay2 h1 {
    color: white; }
  .banner.black-overlay2:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .47;
    top: 0px;
    left: 0px;
    z-index: 1; }
  .banner.black-overlay {
    color: black; }
    .banner.black-overlay:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      opacity: .47;
      top: 0px;
      left: 0px;
      z-index: 1; }
  .banner h1 {
    position: relative;
    z-index: 2;
    text-align: center; }
  .banner._noFilter img {
    opacity: 1; }
  .banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.5; }
  .banner h1 {
    text-align: center;
    font-weight: bold; }
  .banner ._bannerTile p {
    max-width: 40%;
    margin: auto; }
  .banner ._bannerTexts {
    margin: 3px auto;
    font-size: 15px;
    line-height: 1.2; }
    .banner ._bannerTexts b {
      font-weight: bold; }

footer {
  padding: 17px 59px;
  font-size: 12px;
  border-top: 1px solid #f2f2f2; }
  footer .copy-txt {
    font-weight: 500; }
  footer .footermenu {
    text-align: center; }
    footer .footermenu li {
      display: inline-block;
      font-weight: 500; }
      footer .footermenu li a {
        margin: 0px 8px; }
  footer .footerright {
    text-align: right; }
    footer .footerright li {
      display: inline-block;
      font-weight: 500; }
      footer .footerright li a {
        margin: 0px 8px; }

@media only screen and (max-width: 767.5px) {
  footer {
    font-size: 14px;
    padding: 0px; } }

@media only screen and (max-width: 375px) {
  footer p {
    text-align: center !important;
    margin: 10px; }
  footer ul {
    text-align: center;
    margin: 10px; } }
