.bedankt{
    margin: 20px 0;
    text-align: center;

    b{
        font-size: 40px;
    }

    p{
        margin-bottom: 20px;
    }

    a{
        background: transparent;
        border: 2px solid black;
        font-weight: bold;
        text-transform: uppercase;

        &:hover{
            background: black;
            color: white;
        }
    }
}