.usp {
    .ceritifcatesimage {
        max-width: 45%;
    }

    p {
        font-weight: bold;
    }

    a {
        font-weight: bold;
    }
}
.ceritifcatesimageul {
    display: flex;
    margin: 0px 25%;
}

