.usp {
    

    .ceritifcatesimage {
        max-width: 45%;
        margin: 20px auto;
    }
}
.ceritifcatesimageul {
    display: flex;
    margin: 0px 25%;
}
.gviemewidth {
    min-height: 60vh;
}

