.usp {
    

    .ceritifcatesimage {
        max-width: 45%;
        margin: 20px auto;
    }
}
.ceritifcatesimageul {
    display: flex;
    margin: 0px 25%;
}
.gviemewidth {
    min-height: 60vh;
}
@media only screen and (max-width:768px) {
    .ceritifcatesimageul img{
        max-width: 90% !important;
        margin: 20px auto;
    }
    }
