.info {
    min-height: 55vh;
    height: 100%;

    ._infoTile {
        h3 {
            font-weight: bold;
            text-align: center;
        }

        h2 {
            text-align: center;
            font-weight: 600;
            padding: 10px 0px 0px;
        }
    }

    ._infoDescription {
        width: 56%;
        margin: auto;

        p {
            font-weight: normal;
            font-size: 15px;
            text-align: center;
            padding: 30px !important;
        }
    }
}
@media only screen and (max-width: 768px){
    .info{
        ._infoDescription{
            width:100%;
        }
    }
}
