.banner{
    z-index: -1;
}

.options {
    img {
        max-width: 25%;
    }
    /*.container {
        max-width: 93%;
    }*/
    ._giveMePadding {
        padding: 10px 50px 10px
    }

    ._optionsTile {
        margin-bottom: 20px;

        h3 {
            font-weight: 900;
        }
    }

    ._optionsDes {
        p {
            font-weight: normal;
            font-size: 15px;

            &:nth-child(2) {
                margin-top: 40px;
            }
        }

        a {
            color: $blue;
            font-weight: 600;
        }
    }

    ._optionsImg {
        margin-top: 20px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.tweedechild {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    width: 100%;
    padding: 20px;
    overflow: hidden;

    ._boxTitle {
        margin-bottom: 20px;

        b {
            color: $blue;
            font-weight: 900;
            font-size: 23px !important;
        }
    }

    ._boxTexts {
        ul {
            columns: 2;
            width: 100%;
            font-size: 17px;

            li {
                position: relative;
                padding-left: 15px;
                
                &::before {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 5px;
                    content: "";
                    background: $red;
                    margin-right: 10px;
                    display: inline-block;
                    height: 5px;
                    border-radius: 50%;
                }

                &:nth-child(-n+6) {
                    width: 85%;
                }

                /*&:nth-child(n+6) {
                    width: 115%;
                    margin-left: -15%;
                }*/

                &:last-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    p {
        font-weight: normal;
        font-size: 16px;
    }
}
.touch {
    background-color: #f7f7f7;
    padding: 40px 0;
}


@media only screen and (max-width: 767.5px) {
    .tweedechild {
        .col-12 {
            text-align: center;
            font-size: 10px;
        }

        ._boxTitle {
            padding-left: 15px;
        }

        p {
            font-size: 16px;
            text-align: left;
            padding: 15px;
        }
    }
}
@media only screen and (max-width: 767.5px) {
    .container-fluid {
        .smallimage {
            max-width: 40%;
        }
    }
 }
@media only screen and (max-width: 767.5px) {
    .banner{
            img{
                height:100%;
            }
        }
}
@media only screen and (max-width: 375.5px) {
    .contactpage .container-fluid {
        padding: 0px 10px;
    }
}


    @media only screen and (max-width: 375.5px) {
        .information .container-fluid {
            padding: 0 10px;
        }
 }

@media only screen and (max-width: 375.5px) {
    .options ._giveMePadding {
        padding: 0px 0px 0px;
    }
    
}
@media only screen and (max-width:768px){
    .options img {
        max-width: 50% !important;
    }

    .tweedechild{
        ._boxTexts{
            ul{
                columns: 1;
            }
        }
    }

    .options{
        ._optionsDes{
            img{
                margin-bottom: 20px;
            }
        }
    }
}