.banner {
    &.text-page-banner {
        min-height: 300px;

        h1 {
            margin-top: 44px;
        }
    }
}

.textpage {
    margin-top: 50px;

    h1{
        margin-bottom: 25px;
    }

    b, strong{
        font-weight: bold;
    }

    a {
        color: $blue;
        text-decoration: underline !important;
    }
}